<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About Me</title>
</head>
<body>
    {{>header}}
    
    {{>selfieimg}}

    <article class="hobby-article">
        <hr>
        <h3>Sharon Moran , 25, Atlanta </h3>
        <p>
            I'm a 25 year old software developer currently living in 
            Atlanta, Georgia. Origionally I am from the Republic 
            of Panama however early in my childhood my family and I immigrated 
            to the United States. 
            <br><br>
            I becaming interested in coding when my grandfather who 
            is now a retired software developer and network engineer
            used coding as a way to interact with me and break the 
            language barrier. We used to build small robotics kits together 
            where he would use pictures and repetition to teach me basics 
            and have a little toy at the end we would play with.
            <br><br>
            He also introduced me to video games, buying me my first 
            gameboy and playing space invaders and pokemon with me. He 
            would connect his matching gameboy to mine and trade pokemon 
            with me to help me beat the games. Now we play call of duty 
            together but I am still unable to beat him.
            <br><br>
            Throughout the years I have experimented with alot of carreer 
            feilds and hobbies and always come back to what I consider 
            my basics: tech, games, and art. I'm excited to see where my hobbies 
            take me and incredibly glad that one of my hobbies has potential to 
            become a great carreer path.
        </p>
        <hr>
    </article>

    {{>footer}}
</body>
</html>