<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Art</title>
</head>
<body>
    {{>header}}
    
    <div> 
        {{>artslide}} 
    </div>

    <article class="hobby-article">
        <hr>
        <h3>My Time Printmaking</h3>
        <p>
            During my time in college I picked up printmaking 
            as a minor which ended up being an incredible experience 
            for me. My favorite method by far is large scale wood cuts 
            that then get inked and ran through a press then creating 
            the final image. I always found it so peaceful to sit and 
            carve away at blocks quietly in a corner of my studio while 
            listening to music and hearing my dog snore under my desk.
            <br><br>
            For art is a way of taking my mind off of things that can cause 
            stress or a way of practicing stillness and patience. Some people 
            yoga or go on runs, I draw or make prints. Painting was never my 
            strong suit so I try to stay away from that. 
            <br><Br>
            Throughout my time printmaking I was able to make some amazing friends 
            work with talented artists and have my work displayed in a few galleries 
            and exhibits. While I'm not as involved as I used to be I still make time 
            to go to local shows and pop ups and always support local artists when I 
            can. I think its important to give space for creation and its also nice to 
            be surrounded by objects made by someones hands rather than just pumped out 
            in a factory.
        </p>
        <hr>
    </article>

    {{>footer}}
</body>
</html>