<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Gaming</title>
</head>
<body>
    {{>header}}
    
    <div> 
        {{>gameslide}} 
    </div>

    <h2 class="hobby-article">Favorite Games To Play</h1>
    <article class="hobby-article">
            <hr>
            <h3>1. Borderlands Series</h3>
            <p>
                Open world shooters are my favorite style of games, preferably 
                when you have the ability to play with friends. Borderlands is 
                the perfect mix of chaos and Sci-Fi and has the added challenge of 
                scaling difficulty according to how many people are playing together
                and their respective levels. As a fan of Mad Max growing up, the lore 
                behind this game is one that I completely dove into. And of course the 
                main game companion, Claptrap, is incredibly funny.
            </p>
            <hr>
    </article>
    <article class="hobby-article">
            <h3>2. Fallout Series</h3>
            <p>
                Incredibly similar to borderlands, Fall out is in my opinion 
                a must try series. After getting fallout 4 gifted to me by a 
                a friend I was hooked. Set in the United states you play a 
                character navigating their way through a post nuclear United States 
                in hopes of surving the harsh "wasteland" as its called. This game would
                be my favorite if it wherent solely a single player game. Fallout 76 
                is multiplayer but was honestly terrible so I like to pretend that it 
                just doesnt exist. This series is so good I own all of the 
                games as well as their expansion packs on all systems where it is available
                including the origional game that came out in 1997.
            </p>
            <hr>
    </article>
    <article class="hobby-article">
            <h3>3. Outer Worlds</h3>
            <p>
                I suppose a common theme can be seen here in my favorite games. 
                I really enjoy post apocalyptic games. Outer Worlds is my newest game 
                with only about 20 hours put into it so far, which for my gaming style in 
                open world games is very low. This game is almost as if Fallout and Borderlands 
                came together and had a love child. Set on strange planets you traverse 
                a world full of settlements, mutants, and uninhabitable areas trying to 
                survive with the help of whatever companions you pick up along the way. 
                This will easily become yet another game that I pour hundreds of hours into 
                in my goal to poke my head into every corner and find all its hidden secrets.
            </p>
    </article>
    
    {{>footer}}
</body>
</html>