<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Social Media handles</title>
</head>
<body>
    {{>header}}

    {{>selfieimg}}
    
    <div class="hobby-article"
        <hr>
        <h2>Connect With Me</h2>
        <article>
            <p>
                <span class="socials">Twitter: </span> @AnonAnon27409431
                <br><br>
                <span class="socials">Xbox: </span> @nikosuave09
                <br><br>
                <span class="socials">GitHub: </span> @kyanethmoran
                <br><br>
                <span class="socials">Email: </span> sharonkyanethmoran@yahoo.com
            </p>
        </article>
    </div>



    {{>footer}}
</body>
</html>