<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">About Me is a website constructed using HTML CSS and JS.
                This website serves the purpose of being hands on training for myself to learn
                and utilise nodeJS, while also allowing my peers to 
                learn a little about me and my interests. This site is rendered using handbars
                utilizing views and partials to create organized clean code free from repetition
                while allowing for site expansion and scalability through code reuseability.
            </p>
          </div>
        </div>
        <hr>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="#">
                    <i class="fa fa-facebook">
                        <img class="git" src="/media/GitHub-Mark-64px.png" alt="github icon"
                    </i>
                </a>
              </li>   
            </ul>
          </div>
        </div>
      </div>
</footer>