<footer class="site-footer">
    <h6>About</h6>
    <hr>
    <p>About Me is a website constructed using HTML CSS and JS.
            This website serves the purpose of being hands on training for myself to learn
            and utilise nodeJS, while also allowing my peers to 
            learn a little about me and my interests. This site is rendered using handbars
            utilizing views and partials to create organized clean code free from repetition
            while allowing for site expansion and scalability through code reuseability.
    </p>
    <br>  
</footer>