<article class="hobby-article">
            <hr>
            <h3 class="header-align">A way to Decompress</h3>
            <p>
                During my free time I enjoy playing video games as
                a way to relieve stress and connect with long distance
                friends. I play across various platforms and enjoy a 
                variety of genres. I am by no means the best gamer, 
                however the storys are incredibly entertaining to watch 
                unfold and partake in.
            </p>
            <hr>
</article>