        <article class="hobby-article">
            <hr>
            <h3 class="header-align">Exercising Creativity</h3>
            <p>
                i enjoy processes that result in creation, whether it be 
                art, code, music or cooking. My favorite form of creating 
                something new however, is art. Before deciding to follow a more
                 stem related career path, I studied art heavily and various 
                 different processes. I often code in my studio as it still is a 
                 creative process and the space helps alot with my workflow.
            </p>
            <hr>
        </article>